body {
    font-family: Avenir;
    font-weight: 300;
    
}

h1 {
    font-family: Avenir;
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    font-weight: 700;
    font-size: 2em;
    
}

#forms {
    width: 70%;
    margin: auto;
    
}

label {
    
    font-size: 2em;
    font-weight: 500;
}

input {
    
    font-size: 2em;
    font-weight: 100;
}

.emphasis {
    
    color: rgba(255,5,130,.8);
    font-weight: 800;
}